<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CoreSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <services>
      <service name="MachineRepair.MachineRepair">
        <endpoint address="http://localhost:8016/MachineRepairService" binding="wsHttpBinding" contract="MachineRepair.IMachineRepairService" bindingConfiguration="customBinding" />
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="customBinding" maxBufferPoolSize="73400320" maxReceivedMessageSize="73400320" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <readerQuotas maxArrayLength="73400320" maxBytesPerRead="73400320" maxNameTableCharCount="73400320" maxStringContentLength="73400320" />
          <security mode="None"></security>
        </binding>
      </wsHttpBinding>
      <customBinding>
        <binding name="customTcpBinding" openTimeout="00:01:00" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <tcpTransport connectionBufferSize="256192" maxOutputDelay="00:00:30" transferMode="Streamed" maxReceivedMessageSize="300400320" maxBufferSize="65536" />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Behaviors.EndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CAPI_PInvoke" publicKeyToken="d277acbc760e5eaf" culture="neutral" />
        <codeBase version="18.6.0.0" href="c:\Program Files (x86)\Artsyl Technologies\NuanceWithICR\CAPI_PInvoke.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RecoStar" publicKeyToken="7ca08498c01dc4d5" culture="neutral" />
        <codeBase version="5.0.1.176" href="c:\Program Files (x86)\Artsyl Technologies\RecostarOEM\RecoStar.dll" />
      </dependentAssembly>
    </assemblyBinding>
    <gcServer enabled="true" />
  </runtime>
  <applicationSettings>
    <CoreSettings>
      <setting name="NuanceKey" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ThreadLimit" serializeAs="String">
        <value>1</value>
      </setting>
    </CoreSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>